<div class="area" style="display: flex; justify-content: end">
  <div id="content1">
    <div class="flex">
      <img src="./assets/images/10004.svg" />
      <img src="./assets/images/10005.svg" style="width: 25rem" />
    </div>
    <h1>One Stop Cross-Chain Aggregator for DeFi &amp; Metaverse.</h1>
    <div class="btns">
      <button class="button" style="margin-right: 20px">
        Launch App
        <i
          class="pi pi-arrow-circle-right"
          style="font-size: 1.2rem; margin-left: 5px; margin-top: 3px"
        ></i>
      </button>
      <button class="button secondary">Docs</button>
    </div>
    <div data-v-6b76a5fe="" class="buttons"></div>
  </div>
  <img src="./assets/images/10006.png" style="width: 70%; height: 100%" />
</div>
<div
  class="area"
  style="
    background-image: url('./assets/images/content2-bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <img src="./assets/images/10008.svg" style="width: 50%" />
</div>
<div
  class="area"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/content2-bg.jpg');
  "
>
  <div id="content3">
    <div class="left-area">
      <img src="./assets/images/10010.svg" style="width: 60%" />
      <img src="./assets/images/10012.png" style="width: 90%" />
    </div>
    <div
      class="right-area"
      style="position: relative; display: flex; align-items: end"
    >
      <img
        src="./assets/images/10013.png"
        style="width: 50%; position: absolute; right: 10px; top: -10px"
      />
      <div class="description">
        <h3>Cross-chain swaps in seconds</h3>
        <p>
          Provide the fastest, simplest, and most economical cross-chain swap
          service with seamless experience and liquidity providers can earn
          yields without impermanent loss!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="area" style="display: flex">
  <img src="./assets/images/10015.svg" style="width: 50%" />
  <div
    class="right-area"
    style="
      width: 700px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      top: 10rem;
    "
  >
    <img src="./assets/images/gamefi.png" style="width: 60%" />
    <div class="description" style="width: 50%">
      <h3>Play to Earn</h3>
      <p>
        GalaXY Kats is a collection of 10,000 unique meerkat NFTs and a
        play-to-earn blockchain game where players can explore the lore of
        GalaXY universe and help GalaXY Kats revive humanity by challenging
        bosses and completing quests.
      </p>
    </div>
  </div>
</div>
<div class="area" style="display: flex; justify-content: center">
  <div class="img1" style="width: 25%">
    <img
      src="./assets/images/10018.png"
      style="position: relative; left: -4rem"
    />
    <div class="description">
      <h3>One click to sweep anywhere</h3>
      <p>
        A simple and user-friendly interface that aggregates the liquidity of
        NFT marketplaces on various chains, allow users to buy, sell and swap
        NFTs in one transaction.
      </p>
    </div>
  </div>
  <img src="./assets/images/10019.png" style="width: 35%; height: 70%" />
</div>
<div
  class="area"
  style="display: flex; justify-content: center; align-items: center"
>
  <div id="content6">
    <h2>Roadmap</h2>
    <p-carousel
      [value]="roadMap"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="[]"
    >
      <ng-template let-data pTemplate="item">
        <div class="container">
          <div class="title">{{ data.title }}</div>
          <div class="items">
            <p *ngFor="let item of data.items">
              {{ item }}
            </p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>