<div class="grid">
  <div class="col-12 area">
    <div class="content-1">
      <h1>Nice Club</h1>
      <p>I'm description, I'm description, I'm description,</p>
      <div id="btn-area">
        <button
          id="launchBtn"
          pButton
          type="button"
          label="Launch app"
          icon="pi pi-chevron-circle-right"
          iconPos="right"
        ></button>
        <button
          id="docBtn"
          pButton
          type="button"
          label="Doc"
          class="p-button-info p-button-outlined"
        ></button>
      </div>
    </div>
  </div>
  <div class="col-12 area">
    <div class="content-2">
      <h1>Content Title</h1>
      <div class="list-area">
        <div class="icon">
          <i class="pi pi-bolt"></i>
        </div>
        <div class="product-name">NFT</div>
      </div>
    </div>
  </div>
  <div class="col-12 area">
    <div class="content-3">
      <h1>OOOO</h1>
      <div id="des-area">
        <div class="title">Cross-chain swaps in seconds</div>
        <div class="detail">
          Provide the fastest, simplest, and most economical cross-chain swap
          service with seamless experience and liquidity providers can earn
          yields without impermanent loss!
        </div>
      </div>
      <p></p>
    </div>
  </div>
</div>
